h1 {
  color: #2CA78A;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 55px;
  margin-top: 25px;
}

.boardgameBoxes {
  width: 1200px;
  border-radius: 20px;
  border: solid #514534 5px;
  margin-left: 25px;
  margin-right: 25px;
  background: #8C5039;
  font-family: 'Quicksand', sans-serif;
}


.box {
  color: #2CA78A;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: #46342D 2px solid;
  display: inline-block;
  margin: 8px;
  text-align: center;
  font-size: 100px;


}

.goal{
  background-color: #46342D;
  width: 125px;
  display: inline-block;
  margin: 25px;
  pointer-events: none;
  border-radius: 45%;
}

.toprow{
  margin-top: 20px;
  padding: 7px;
  margin-bottom: 12px;
  border-radius: 50%;
  background-color: #46342D;
}

.bottomrow{
  margin-top: 50px;
  padding: 7px;
  margin-top: 19px;
  border-radius: 50%;
  background-color: #46342D;
}

.goal-right{
  float:right;
  height: 250px;
  margin-top: -111px;
  margin-top: -127px;
  margin-right: 34px;
  padding: 2px;
}

.goal-left{
  float: left;
  height: 250px;
  margin-top: 21px;
  margin-right: 20px;
  padding: 2px;
}

.highlight {
   background: #EADFCF;
}

.noHighlight{
  background: #46342D;
}

.noClick{
  pointer-events: none;
}

#button{
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  border-radius: 20px;
  color: #2CA78A;
  background-color: #46342D;
  border: solid #46342D 5px;
  padding: 10px;
  margin-top: 35px;
  float: right;
  margin-right: -155px;
  width: 261px;
}

.winner{
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  text-align: center;
  border-radius: 20px;
  color: #2CA78A;
  background-color: #46342D;
  border: solid #46342D 5px;
  padding: 10px;
  margin-top: 20px;
  width: 630px;
  height: 50px;
  float: left;
  margin-left: -146px;
}
