h1 {
  color: purple
}

.boardgameBoxes {
  border: solid black 5px;
  margin-left: 395px;
  margin-right: 395px;
}


.box {
  background-color: white;
  width: 100px;
  height: 100px;
  border: black 2px solid;
  display: inline-block;
  margin: 8px;
  font-size: 22px;
  color: black;
}

.display{
  background-color: white;
  width: 30px;
  height: 30px;
  border: black 2px solid;
  display: inline-block;
  margin: 8px;
  font-size: 22px;
  color: black;
  text-align:center;
}

.goal{
  background-color: white;
  width: 125px;
  height: 250px;
  border: black 2px solid;
  display: inline-block;
  margin: 8px;
}

.toprow{
  margin-top: 20px;
  margin-bottom: -70px;
  text-align: center;
}


.bottomrow{
  margin-top: 50px;
  text-align: center;
}

.stone{
  background-color: white;
  width: 20px;
  height: 20px;
  border: black 2px solid;
  display: inline-block;
  margin: 8px;
}

#goal1{
  float: left;
  margin-top: 25px;
}

#goal2{

}
