h1 {
  color: purple
}

.boardgameBoxes {
  border: solid black 5px;
  margin-left: 50px;
  margin-right: 50px;
}


.box {
  background-color: white;
  width: 100px;
  height: 100px;
  border: black 2px solid;
  display: inline-block;
  margin: 8px;
}

.goal{
  background-color: white;
  width: 125px;
  height: 250px;
  border: black 2px solid;
  display: inline-block;
  margin: 8px;
}

.toprow{
  margin-top: 20px;
  margin-bottom: -116px;
}

/*.bottomrow{
  margin-top: 50px;
}*/

#goal1{
  float: left;
  margin-top: 25px;
}

#goal2{

}
